@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased;
  }
}

.split-hover-left:hover {
  width: 60%;
}

.split-hover-right:hover {
  width: 60%;
}

/* Hide scrollbar for clean look */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.clip-path-slant {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

/* Modal Overlay */
.modal-overlay {
  background-color: rgba(15, 23, 42, 0.8);
  /* biz-900 with opacity */
}

/* Custom Animation Delays */
.animation-delay-2000 {
  animation-delay: 2s;
}
.animation-delay-4000 {
  animation-delay: 4s;
}
